td {
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

table {
    border-collapse: collapse;
    border : 30px solid black;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: lightcyan;
}

table tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(12, 70, 43);
}

table tr:nth-child(even) {
    background-color: lightcyan;
}

table tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(12, 70, 43);
}

table img {
    height: 100%;
    width: 90%;
    cursor: pointer;
}

table img:hover {
    height: 105%;
    width: 92%;
}